version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: cloudretail-db
    environment:
      MYSQL_ROOT_PASSWORD: cloudretail_root
      MYSQL_DATABASE: cloudretail
    ports:
      - "3309:3306" # host:container (use 3309 on host so it doesn't clash with your local MySQL)
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    command: ["--default-authentication-plugin=mysql_native_password"]

  user-service:
    build: ./user-service
    container_name: cloudretail-user-service
    env_file:
      - ./user-service/.env
    environment:
      CLOUDRETAIL_USER_SERVICE_DB_HOST: db
      CLOUDRETAIL_USER_SERVICE_DB_PASSWORD: cloudretail_root
    depends_on:
      - db
    ports:
      - "8080:8080"

  product-service:
    build: ./product-service
    container_name: cloudretail-product-service
    env_file:
      - ./product-service/.env
    environment:
      CLOUDRETAIL_PRODUCT_SERVICE_DB_HOST: db
      CLOUDRETAIL_PRODUCT_SERVICE_DB_PASSWORD: cloudretail_root
    depends_on:
      - db
    ports:
      - "8081:8081"

  inventory-service:
    build: ./inventory-service
    container_name: cloudretail-inventory-service
    env_file:
      - ./inventory-service/.env
    environment:
      CLOUDRETAIL_INVENTORY_SERVICE_DB_HOST: db
      CLOUDRETAIL_INVENTORY_SERVICE_DB_PASSWORD: cloudretail_root
    depends_on:
      - db
    ports:
      - "8082:8082"

  order-service:
  build: ./order-service
  container_name: cloudretail-order-service
  env_file:
    - ./order-service/.env
  environment:
    CLOUDRETAIL_ORDER_SERVICE_DB_HOST: db
    CLOUDRETAIL_ORDER_SERVICE_DB_PASSWORD: cloudretail_root
    AWS_REGION: us-east-1
    CLOUDRETAIL_ORDER_CONFIRMATION_FROM: "benjaminkirbyten15@gmail.com"
  depends_on:
    - db
  ports:
    - "8083:8083"

  payment-service:
    build: ./payment-service
    container_name: cloudretail-payment-service
    env_file:
      - ./payment-service/.env
    environment:
      CLOUDRETAIL_PAYMENT_SERVICE_DB_HOST: db
      CLOUDRETAIL_PAYMENT_SERVICE_DB_PASSWORD: cloudretail_root
    depends_on:
      - db
    ports:
      - "8084:8084"

volumes:
  db_data:
